* {
    margin: 0;
    padding: 0;
}

/* HEADER *//* HEADER */

header{
    background-color: #1f2937;
    padding: 1px 13 px;
}

.nav {
    display: flex;
     justify-content: space-between;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
     
}
 .secondary,
a:link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* welcome */