* {
    margin: 0;
    padding: 0;
}

/* HEADER *//* HEADER */

header{
    background-color: #1f2937;
    padding: 1px 13 px;
    
}

.nav {
    display: flex;
     justify-content: space-between;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
     
}
 .secondary,
a:link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* welcome */

.welcome{
    display: flex;
    align-items: center;
    padding: 7em 0;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-left: 70px;
}
.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.welcome .right {
    flex-shrink: 0;
    width: 50%;
}

.hero {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    
}



button {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.welcome button {
    border: none;
}
    
